#about{
    width: 100%;
    padding: 68px 0 163px 0;
    background-color: var(--secondary_clr);
}
.about__sec__name{
    font-weight: var(--weight_medium);
    font-size: var(--pera_size);
    line-height: 24px;
    color: var(--primary_clr);
    padding-bottom: 8px;
}
.about__sec__heading,
.about__details__heading{
    font-weight: var(--weight_semibold);
    font-size: 36px;
    line-height: 150%;
    color: var(--text_clr);
    padding-bottom: 64px;
}
.about__section__wrapper{
    justify-content: space-between;
}
.about__img__part{
    width: 50%;
    position: var(--relative);
}
.about__img__1{
    width: 330px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}
.about__img__2{
    position: var(--absolute);
    top: 60px;
    left: 67px;
}
.about__details__part{
    width: 50%;
}
.about__details__heading{
    width: 507px;
    padding-bottom: 24px;
}
.about__details__contect{
    color: var(--text_clr);
    padding-bottom: 48px;
}
.about__btn__main_group{
    column-gap: 48px;
}
.about__btn{
    font-weight: var(--weight_semibold);
    font-size: var(--pera_size);
    line-height: 24px;
    color: var(--text_clr);
    padding: 13px 41px;
    border-radius: 10px;
    border: 1px solid var(--text_clr);
    transition: var(--transition);
}
.about_btn_span{
    padding-right: 15px;
}
.about__btn:hover{
    color: var(--white_clr);
    background-color: var(--text_clr);
}