#banner{
    width: 100%;
    padding: 130px 0 60px 0;
    background-color: var(--secondary_clr);
}
.banner__wrapper{
    align-items: center;
}
.banner__heading{
    padding-top: 62px;
    width: 777px;
    font-weight: var(--weight_semibold);
    font-size: 56px;
    line-height: 150%;
    color: var(--text_clr);
}
.banner__pera{
    width: 544px;
    padding: 24px 0 56px 0;
}
.banner__counter__wrapper{
    padding-top: 56px;
}
.banner__counter_item{
    width: 149px;
    margin-right: 72px;
}
.banner__counter__count{
    font-weight: var(--weight_semibold);
    font-size: 56px;
    color: var(--text_clr);
    padding-bottom: 20px;    
}
.banner__counter__item__span{
    color: var(--primary_clr);
}
